/*General styling component*/

.wrapper {
  margin: auto;
  width: 85%;
  padding-top: 2em;
}

.mainHeading {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 4rem;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.imgContainer {
  width: 55%;
}

.textContainer {
  width: 45%;
}

.textCont {
  color: #000000;
  margin-bottom: 5rem;
}

.imgContainer {
  height: 500px;
  margin-bottom: 4em;
  background-image: url(./main.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgContainer img {
  height: 80%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

/*General styling foor Aboutbottom component*/
.bottCont {
  background-color: #fff;
}

.bottom {
  margin: auto;
  width: 85%;
  display: flex;
  gap: 150px;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.bottText {
  color: #000000;
  font-weight: 600;
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

.signupBtn {
  background-color: rgb(250, 90, 0);
  border-radius: 8px;
  width: 30%;
  height: 3.6rem;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  outline: none;
}

.textDiv {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 5rem;
    margin-bottom: 10rem;
  }

  .mainHeading {
    font-size: 1.2rem;
  }

  .imgContainer {
    width: 100%;
  }

  .imgContainer,
  .textContainer {
    width: 95%;
    min-width: 280px;
    background-size: 100%;
  }

  .bottomImg {
    background-size: 100%;
    margin-bottom: -100px;
    height: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .mainHeading {
    font-size: 2rem;
  }

  .imgContainer {
    margin: auto;
    width: 60%;
    height: 500px;
    background-image: url(./main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .textCont {
    width: 100%;
  }

  .textContainer {
    width: 60%;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .bottomImg {
    background-size: 100%;
    gap: 0px;
    height: 400px;
    width: 100%;
    margin-bottom: -100px;
  }

  .bottText {
    color: #091540;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 50px;
  }

  .signupBtn {
    background-color: rgb(50, 50, 77);
    border-radius: 8px;
    width: 55%;
    height: 5.6rem;
    font-size: 1.5rem;
    color: #ffffff;
  }

  .textDiv {
    width: 100%;
  }
}

.h2Main {
  font-weight: 500;
  font-size: 2rem;
}

.para {
  color: rgb(50, 50, 77);
  margin-top: 2rem;
  font-size: 1rem;
}

.container {
  display: flex;
}
