.flex {
  display: flex;
}

.payment-checkout {
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem 1.5rem;
  padding-top: 8rem;
  width: 90%;
  margin: 0 auto;
}

.delivery-payment {
  flex-direction: column;
  row-gap: 2rem;
  width: 40%;
}

.delivery-information {
  flex-direction: column;
  row-gap: 1rem;
}

.delivery-information h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #32324d;
}

.delivery-form {
  flex-direction: column;
  row-gap: 1rem;
}

.name-number {
  column-gap: 1rem;
}

.name-input,
.number {
  width: 50%;
}

.current-location,
.notes-area {
  width: 95%;
}

.delivery-form input::placeholder,
.delivery-form textarea::placeholder {
  opacity: 0.8;
  font-size: 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.schedule {
  flex-direction: column;
  row-gap: 1rem;
}

.schedule-text {
  align-items: center;
  column-gap: 1rem;
}

.schedule-text h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #32324d;
}

.switch {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  min-width: 46px;
  min-height: 24px;
  background: #fa5a00;
  border-radius: 999px;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  appearance: none;
  position: relative;
  outline: none;
}

.switch::before,
.switch::after {
  position: absolute;
  content: "";
}

.switch::before {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 18px;
  height: 18px;
  background: #fff;
  top: calc((24px - 18px) / 2);
  left: calc((24px - 18px) / 2);
  border-radius: inherit;
}

.switch::after {
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: inherit;
}

.switch:active::before {
  width: 24px;
}

.switch:checked:active::before {
  left: calc(100% - 24px - calc((24px - 18px) / 2));
}

.switch:checked::before {
  left: calc(100% - 18px - calc((24px - 18px) / 2));
}

.switch:checked {
  background: #fa5a00;
}

.switch:active::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}

.calender-input {
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.calender {
  padding: 0;
  outline: none;
  resize: none;
  border: none;
  width: 100%;
}

.calender-img {
  width: 1rem;
  filter: invert(40%) sepia(68%) saturate(3040%) hue-rotate(2deg)
    brightness(101%) contrast(106%);
}

.pay {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.payment-method {
  flex-direction: column;
  row-gap: 1rem;
}

.payment-method h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #32324d;
  text-align: start;
}

.method {
  justify-content: space-around;
  align-items: center;
  column-gap: 1rem;
  background-color: #ffffff;
  padding: 0 1rem;
}

.method button {
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  color: #32324d;
  background-color: #ffffff;
}

.method button:active {
  color: #ffffff;
  background-color: #fa5a00;
}

.method button:first-child {
  color: #ffffff;
  background-color: #fa5a00;
}

.payment-card {
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding: 1rem;
  background-color: #ffffff;
}

.img {
  width: 100%;
}

.gt-image {
  width: 3rem;
}

.atm-texts {
  flex-direction: column;
  row-gap: 0.5rem;
  color: #32324d;
}

.atm-texts p {
  font-size: 0.8rem;
}

.atm-texts small {
  font-size: 0.6rem;
}

.image2 {
  width: 1rem;
}

@media (max-width: 900px) {
  .payment-checkout {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    row-gap: 5rem;
    width: 80%;
  }

  .delivery-payment {
    width: 100%;
  }

  .checkout {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .payment-checkout {
    padding: 2rem;
    padding-top: 8em;
  }

  .delivery-information h1,
  .schedule-text h1,
  .payment-method h1 {
    font-size: 1rem;
  }

  .receipt {
    padding: 0 1rem;
  }
}

@media (max-width: 400px) {
  .payment-checkout {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
