@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.payment-checkout {
    justify-content: space-between;
    column-gap: 2rem;
    width: 100%;
    padding: 2rem 3rem;
}

.delivery-payment {
    flex-direction: column;
    row-gap: 2rem;
    color: #f8f8f8;
    width: 40%;
}

.delivery-information {
    flex-direction: column;
    row-gap: 1rem;
}

.delivery-information h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #32324D;
}

.delivery-form {
    flex-direction: column;
    row-gap: 1rem;
}

.name-number {
    column-gap: 1rem;
}

.name-input, .number {
    width: 50%;
}

.current-location,
.notes-area{
    width: 100%;
}

input,
textarea,
.calender-input {
    padding: .5rem .7rem;
    outline: none;
    resize: none;
    border: 1px solid #32324d4f;
    border-radius: 5px;
}

.delivery-form input::placeholder,
.delivery-form textarea::placeholder {
    opacity: .8;
    font-size: .8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.schedule {
    flex-direction: column;
    row-gap: 1rem;
}

.schedule-text {
    align-items: center;
    column-gap: 1rem;
}

.schedule-text h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #32324D;
}
  
.switch {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    min-width: 46px;
    min-height: 24px;
    background: #FA5A00;
    border-radius: 999px;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    appearance: none;
    position: relative;
    outline: none;
}
  
.switch::before,
.switch::after {
    position: absolute;
    content: "";
}
  
.switch::before {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 18px;
    height: 18px;
    background: #fff;
    top: calc((24px - 18px) / 2);
    left: calc((24px - 18px) / 2);
    border-radius: inherit;
}
  
.switch::after {
    -webkit-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: inherit;
}
  
.switch:active::before {
    width: 24px;
}
  
.switch:checked:active::before {
    left: calc(100% - 24px - calc((24px - 18px) / 2));
}
  
.switch:checked::before {
    left: calc(100% - 18px - calc((24px - 18px) / 2));
}
  
.switch:checked {
    background: #FA5A00;
}
  
.switch:active::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}

.calender-input {
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.calender  {
    padding: 0; 
    outline: none;
    resize: none;
    border: none;
    width: 100%;
}

.calender-img {
    width: 1rem;
    filter: invert(40%) sepia(68%) saturate(3040%) hue-rotate(2deg) brightness(101%) contrast(106%);
}

.pay {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
}

.payment-method {
    flex-direction: column;
    row-gap: 1rem;
}

.payment-method h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #32324D;
    text-align: start;
}

.method {
    justify-content: space-around;
    align-items: center;
    column-gap: 1rem;
    background-color: #ffffff;
    padding: 0 1rem;
}

.method button {
    border: none;
    outline: none;
    padding: .6rem 1rem;
    color: #32324D;
    background-color: #ffffff;
}

.method button:active {
    color: #ffffff;
    background-color: #FA5A00;
}

.method button:first-child {
    color: #ffffff;
    background-color: #FA5A00;
}

.payment-card {
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
    background-color: #ffffff;
}

img {
    width: 100%;
}

.gt-image {
    width: 3rem;
}

.atm-texts {
    flex-direction: column;
    row-gap: .5rem;
    color: #32324D;
}

.atm-texts p {
    font-size: .8rem;
}

.atm-texts small {
    font-size: .6rem;
}

.image2 {
    width: 1rem;
}

.checkout {
    flex-direction: column;
    row-gap: 2rem;
    width: 40%;
    padding: 1.5rem;
    background-color: #ffffff;
}

.cart {
    flex-direction: column;
    row-gap: .5rem;
}

.food {
    justify-content: space-between;
    align-items: center;
}

.price {
    align-items: center;
    column-gap: .8rem;
}

.food-img {
    width: 3rem;
}

.food-img img {
    display: block;
}

.food-texts {
    flex-direction: column;
    row-gap: .3rem;
}

.food-texts p {
    font-size: .8rem;
    font-weight: 800;
}

.food-texts small {
    font-size: .7rem;
}

.food-number {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.close-img {
    width: .5rem;
}

.add {
    justify-content: space-between;
    align-items: center;
    column-gap: .3rem;
    font-size: .7rem;
}

.add img {
    width: 1rem;
}

.discount-input {
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 .1rem 0 .5rem;
    outline: none;
    border: 1px solid #32324d4f;
    border-radius: 5px;
    height: 2.5rem;
}

.discount  {
    padding: 0; 
    outline: none;
    border: none;
    width: 100%;
}

.discount-btn {
    border: none;
    outline: none;
    padding: .6rem 1rem;
    color: #ffffff;
    background-color: #FA5A00;
    border-radius: 5px;
}

.receipt {
    flex-direction: column;
    row-gap: 1rem;
    padding: 0 3rem;
    color: #32324D;
}

.total {
    flex-direction: column;
    row-gap: 2rem;
}

.total p {
    font-size: .8rem;
    font-weight: 500;
}

.amount p:last-child .total {
    color: #FA5A00;
}

.total small {
    font-weight: 800;
}

.amount p:last-child {
    border-top: 1px solid #32324D;
    padding: .5rem 0 0 0;
}

.amount {
    justify-content: space-between;
}

.receipt button {
    border: none;
    outline: none;
    padding: .7rem 1rem;
    color: #ffffff;
    background-color: #FA5A00;
    border-radius: 5px;
}

.cancel-order {
    text-align: center;
    font-size: .8rem;
    font-weight: 500;
}

@media (max-width: 900px) {
    .payment-checkout {
        flex-direction: column;
        justify-content: center;
        row-gap: 5rem;
        width: 100%;
    }

    .delivery-payment {
        width: 100%;
    }

    .checkout {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .payment-checkout {
        padding: 2rem;
    }

    .delivery-information h1,
    .schedule-text h1,
    .payment-method h1 {
        font-size: 1rem;
    }

    .receipt {
        padding: 0 1rem;
    }
}

@media (max-width: 400px) {
    .payment-checkout {
        padding: 2rem 1rem;
    }
}