.hero-page-box {
  background: #f8f8f8;
  color: #000000;
  margin-top: 10em;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 51px;
}

.hero-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 7px;
}

.hero-description {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 34px;
}

.hero-subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 16px;
  margin-left: 0;
  padding-top: 0;
}

.search input {
  width: 100% !important;
}
@media (min-width: 465px) {
  .search input {
    width: 396px !important;
  }
}

.search input::placeholder {
  font-weight: 400;
  line-height: 39px;
  color: #32324d;
}

.category {
  margin-bottom: 80px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(210px, 100%), 1fr));
  gap: 1.2rem;
}

.category-grid img {
  height: 161px;
  width: 100%;
}

.category-details {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.favorites {
  margin-bottom: 1rem;
}

.favorites-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(137px, 100%), 1fr));
  gap: 1.125rem;
}

.favorites-grid img {
  height: 131px;
  width: 100%;
}

.favourites-empty-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 100%;
  height: 131px;
}

.favourites-empty-box .add {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fa5a00;
  color: white;
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.help-icon-box {
  padding-right: 3em;
  position: absolute;
  bottom: -200px;
  right: 30px;
}

.help-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  padding: 10px;
  background: #fa5a00;
  border-radius: 16px;
}

.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 868px;
  max-width: 80%;
  height: 296px;
  margin: 0 auto;
  border-radius: 16px;
  background: #fa5a00;
  margin-bottom: 3em;
}

@media (min-width: 767px) {
  .discount {
    flex-direction: row;
  }
}
.discount-off {
  font-weight: 700;
  font-size: 48px;
  line-height: 38px;
  color: #f8f8f8;
  margin-bottom: 10px;
}

.discount-food {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #32324d;
  margin-bottom: 10px;
}

.discount-btn {
  background: #f8f8f8;
  border-radius: 6px;
  padding: 8px 13px;
  margin: 0;
  border: none;
}
.product-search-item-card {
  display: flex;
  column-gap: 1em;
  width: 100%;
  cursor: pointer;
}
.product-search-item-card:hover {
  opacity: 0.5;
}
.search-item-img {
  width: 50px;
  height: 50px;
}
.search-item-name {
  font-size: 14px;
  color: #32324d;
}
.search-item-not-found p {
  text-align: center;
  font-weight: bold;
  color: #32324d;
}
