.flex {
  display: flex;
}
.verification {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.verify {
  flex-direction: column;
  width: 50%;
  background-color: #f8f8f8;
  padding: 2rem;
}

.verify-input {
  flex-direction: column;
  justify-content: left;
  align-items: center;
  height: 100%;
}
.verify-form {
  height: 100%;
  display: grid;
  place-items: center;
}
.verify-text {
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  color: #32324d;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
}

.verify-text p {
  font-size: 0.9rem;
}
.input {
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

.input-wrapper {
  width: 100%;
  display: grid;
  place-items: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.input-wrapper h2 {
  font-weight: 600;
  font-size: 36px;
}
.input-wrapper-margin {
  margin-left: -3.3em;
}

.input-field {
  margin-bottom: 10px;
}
.input-cont {
  margin-top: 1.5em;
}
.forgot-password {
  font-size: 12px;
  margin-top: 0.5em;
}

.checkboxes {
  margin-top: 1em;
  margin-bottom: 1em;
}

.checkbox-label {
  margin-left: 8px;
  font-size: 14px;
}
.first-checkbox {
  margin-top: 8px;
  margin-bottom: 14px;
}

.sign-up-page {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
}
.signup-header {
  margin-top: 2em;
  margin-left: 2em;
}
.input-wrapper h2 {
  margin-top: 24px;
  margin-bottom: 18px;
  clear: #000000;
  /* color: #32324d; */
}
.text {
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  color: #32324d;
}

.text p {
  font-size: 0.9rem;
}

/* Link styles */
.sign-in-link {
  margin-top: 1em;
}
.forgot-flex {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
}

.form-container {
  height: 100%;
  display: grid;
  place-items: center;
}
.form-description {
  margin-bottom: 2em;
  padding: 3px;
  margin-top: 20px;
  font-size: 20px;
}

.message {
  margin-top: 10px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.form-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 30px;
}

/* button styles */
.create-acc-btn {
  margin-top: 24px;
}
.create-acc-btn p {
  text-align: center !important;
}

button {
  margin-top: 1em;
  margin-bottom: 1em;
}
.resend-link {
  color: rgb(250, 90, 0);
  cursor: pointer;
}
.icons img {
  margin-right: 24px;
  width: 2rem;
  cursor: pointer;
}

.button-icons-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3em;
}
.button-icons-div p {
  margin-bottom: 1em;
}
.cancel-reset-div {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.cancel-reset-div a {
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.all {
  flex-direction: column;
  width: 50%;
  background-color: #f8f8f8;
  padding: 2rem;
}
.create-new-passwd-page {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
}
.create-new-passwd-header {
  margin-top: 2em;
  margin-left: 2em;
}
.create-new-passwd-btn {
  margin-top: 24px;
}
.left-side {
  width: 50%;
}
.sign-up-link {
  margin-left: 0.3em;
  text-decoration: underline;
}
.no-p-margin {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.guest-sign-in,
.sign-up-link {
  color: #fc9155;
}
.sign-in-header {
  width: 100%;
  text-align: center;
  margin-left: -17em;
}
.sign-in-password-div {
  justify-content: space-between;
}
.forgot-password-link {
  color: #32324d !important;
  cursor: pointer;
}
.form-btn {
  margin-top: 0;
}
.form-btn-margin-top {
  margin-top: 1em;
}

.endpoint-error {
  color: #fa5a00;
  font-size: 12px;
  text-align: center;
}

.sign-in-validation-div {
  width: 100% !important;
}

@media (max-width: 1100px) {
  .verify {
    padding: 1rem;
  }

  /* .verify-input {
    padding: 0 2rem;
  } */
  .form-container {
    padding: 1rem;
  }
}
@media (max-width: 934px) {
  .image {
    width: 40%;
  }
}
@media (max-width: 900px) {
  /* .verify-input {
    padding: 0 1rem;
  } */
  .form-container {
    padding: 0 1rem;
  }
}

@media (max-width: 830px) {
  .verify {
    width: 100%;
  }
  .image {
    display: none;
  }
  header h1 {
    font-size: 1.5rem;
  }
  .all {
    width: 100%;
  }
  .left-side {
    width: 100%;
  }
}
@media (max-width: 830px) {
  .form-container {
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .form-container {
    width: 100%;
    padding: 0;
  }
}
.submit-button {
  margin-top: 3em;
}

@media (max-width: 320px) {
  .verify-input {
    padding: 0;
  }
  header {
    padding: 0;
  }
  .form-container {
    padding: 0;
  }
}
@media (max-width: 660px) {
  .all {
    width: 100%;
  }
  .form-container {
    width: 100%;
    padding: 0;
  }
  .all {
    padding: 1em;
  }
}
@media (max-width: 450px) {
  .input-field,
  .submit-button {
    width: 85% !important;
  }
  .input-width {
    width: 300px !important;
  }
  .checkboxes {
    margin: 0 auto;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (max-width: 420px) {
  .input-field,
  .submit-button {
    width: 60% !important;
  }
  .input-wrapper h2 {
    font-size: 28px;
  }
}

@media (max-width: 320px) {
  header {
    padding: 0;
  }
  .form-container {
    padding: 0;
  }
}
