
body {
    background-color: #928F8F;
    padding: 0;
    margin: 0;
  }
  
  .sign-up-page {
  width: 85%;
  height: auto;
  background-color: hsla(0, 0%, 97%, 1);
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  }
  
  .left-side {
    width: 50%;
  }
  
  .logo {
    width: 6.25rem;
    margin-left: 60px;
    margin-top: 20px;
  }
  
  h2 {
    margin-top: 24px;
    margin-bottom: 18px;
    color: #32324D;
  }
  
  .input-wrapper {
    margin-left: 100px;
  }
  
  .input-div {
    width: 23.125rem;
    height: 54px;
  }
  
  .input-div input {
    width: 22.5rem;
    height: 40px;
    border-radius: 18px;
    padding-left: 0.75rem;
    border: 2px solid #BBBBC4;
  }
  
  .checkboxes {
    margin-left: 100px;
  }
  
  .checkbox-label {
    margin-left: 8px;
    font-size: 14px;
  }
  
  .first-checkbox {
    margin-top: 8px;
    margin-bottom: 14px;
  }
  
  button {
    width: 15rem;
    height: 40px;
    background-color: #FA5A00;
    border-radius: 14px;
    border: none;
    color: white;
    margin-top: 24px;
  }
  
  .icons img{
    margin-right: 24px;
    width: 2rem;
  }
  
  .button-icons-div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .right-side {
    width: 50%;
  }
  
  .right-side img {
    width: 100%;
    height:600px;
    padding-right: 0;
    margin-right: 0;
  }
  
  a {
    color: #FA5A00;
    font-weight: bold;
    padding-left: 0.5rem;
  }
  