.meal-cust-container {
  width: 98%;
  display: flex;
  flex-direction: row;
  height: 80vh;
  gap: 50px;
  justify-content: center;
 
}
.food-desc-section, .price-section {
  width: 40%;
  height: inherit;
  margin-top: 30px;
}
.food-div {
  width: inherit;
  height: auto;
}
.food {
  width: 100%;
}
.ingredients {
  display: flex;
  width: 100%;
  gap: 10px;
}
.text-ingredients {
  height: 50px;
  width: 40%;
}
.text-ingredients p {
  border: 2px solid black;
  margin: 0;
  padding: 10px;
}
.img-ingredients {
  width: 60%; 
}
.ratings {
  width: 100%;
  display: flex;
}
.rating-star-div {
  margin-top: 15px;
}
.review p {
  padding-left: 20px;
  font-size: 1.5rem;
  margin-top: 10px;
}
.nutri-value {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.size, .calories, .cooktime {
   width: 30%;
   background-color: #ffff;
   box-shadow: 10px 3px 10px #adacac;
}
.nutri-value p {
  text-align: center;
  line-height: 0.2;
}
.first {
  font-weight: bold;
}
.food-description {
  margin-top: 20px;
  font-weight: 600;
}
.meal-prices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.food-name {
  margin-top: -40px;
}
.food-name h2{
  font-size: 2.5rem;
  margin-bottom: -20px;
}
.food-name p {
  font-size: 1.3rem;
}
.quantity button {
  border-radius: 50%;
  outline: none;
  border: none;
  padding: 5px;
  width: 45px;
  font-size: 2rem;
  background-color: #FA5A00;
  color: #f5f5f5;
}
.span {
  padding: 10px;
  font-size: 2rem;
}
.quantity {
  margin-top: 20px;
}
.extras {
  font-size: 2.5rem;
}
.extra-div {
  display: flex;
  width: 98%;
  height: 80px;
  box-shadow: 10px 3px 10px #adacac;
  gap: 10px;
  margin-top: 20px;
}
.name {
  font-weight: bold;
  margin-bottom: -15px;
}
.order-price {
  width: 70%
}
.order-quantity {
width: 20%;
height: 80px;
margin-left: 150px;
}
.order-quantity button {
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 50px;
  background: none;
}
span {
  padding: 10px;
}
.cart-input {
  margin-top: 50px;
}
.cart-input input {
 padding: 15px;
 border-radius: 20px;
 width: 90%;
}
.btn {
  position: relative;
  left: 70%;
  top: -46px;
  background-color: #FA5A00;
  outline: none;
  border: none;
  width: 150px;
  color: #f5f5f5;
  border-radius: 20px;
  padding: 13px;
}