@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
  color: #000000;
}
h4,
.nav-logo,
.logo-header {
  color: #000000;
}
.App {
  margin: auto;
}
a,
a:link,
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

input:focus,
input:hover,
textarea:focus,
select:focus {
  outline: none !important;
}

.form-container {
  display: flex;
}
.form {
  margin-left: 80px;
}
.form h3 {
  padding-top: 20px;
}
.form h3,
.name,
.password,
.btn,
.link {
  margin-left: 90px;
}
.form,
.image-div {
  width: 98%;
  height: 100vh;
}
.image-div img {
  width: 100%;
  height: inherit;
}
.name,
.password {
  width: 400px;
  height: 31px;
  border-radius: 16px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid gray;
}
.btn {
  background: #fa5a00;
  border-radius: 16px;
  width: 400px;
  height: 61px;
  outline: none;
  border: none;
  margin-top: 30px;
  color: #ffff;
}
.password-div {
  display: flex;
  flex-direction: column;
}
.link {
  padding: 10px;
  text-decoration: none;
  font-size: 0.8rem;
}
.options {
  margin-top: 50px;
  margin-left: 35%;
}
.options p:nth-child(1) {
  padding-left: 7%;
  line-height: 0.1;
}
.options p {
  font-size: 0.9rem;
}
.icons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 32%;
  margin-top: 25px;
}
.apple-logo,
.google,
.facebook-logo {
  font-size: 30px;
}
.facebook-logo {
  color: rgb(3, 3, 217);
  font-size: 25px;
  padding-top: 3px;
}
.option-two {
  display: flex;
  flex-direction: row;
  margin: 3% 0 0 25%;
}
.signup-link,
.guest-link {
  color: #fa5a00;
  font-weight: bold;
  padding: 15px;
}
.or {
  margin: 0;
  padding-left: 40%;
  font-size: 0.9rem;
}
.guest-link {
  padding-left: 30%;
  font-weight: 500;
}
button {
  cursor: pointer;
}
.logout-btn {
  margin-top: 3em;
}
.logout-content-div p,
.modal-title {
  color: #000000 !important;
}
.logout-content-div p {
  margin-top: 0.5em;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
}
.tab-content-wrapper {
  cursor: pointer;
}

.discount {
  margin-bottom: 3em;
}
/* MEDIA QUERIES */

@media (max-width: 320px) {
  .image-div {
    display: none;
  }
  .logo-div {
    display: none;
  }
  .form {
    width: 100%;
    margin: 0;
  }
}
.validation-error-div {
  width: 65%;
}
.validation-error {
  color: #fa5a00;
  font-size: 12px;
  margin-top: 0.5em;
  text-align: start;
}
.tab-button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 8px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
}

.tab-button {
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  gap: 10px;
  background-color: #ffffff;
  color: #32324d;
  border: none;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
}
.active-tab {
  background: #fa5a00;
  color: #ffffff;
}

.star {
  color: #32324d;
  cursor: pointer;
  padding: 1px;
}

.star-filled {
  color: #fa5a00;
}
.nav-logo {
  color: #000000;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  flex-grow: 1;
}
.mobile-search-input {
  width: 80vh !important;
}
@media (max-width: 550px) {
  .mobile-search-input {
    width: 40vh !important;
  }
}
.close-icon {
  cursor: pointer;
  color: #fa5a00;
}
.menu-section {
  padding-top: 5em;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.search-results-dropdown {
  position: absolute;
  top: 50%;
  z-index: 999;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #000000;
  border-top: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 30%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scroll-padding: 0 16px;
}
.search-results-dropdown::-webkit-scrollbar {
  display: none;
}
.product-search-item-card {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.google-map-div {
  width: 100%;
  align-items: center;
  justify-content: center;
}
.google-map {
  width: 60%;
  height: 240px;
}
.flex {
  display: flex;
}
.tab-button {
  cursor: pointer;
}
