@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsla(0, 0%, 97%, 1);
  font-family: "Inter", sans-serif;
}

@media (max-width: 700px) {
  .logo-header h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .logo-header {
    padding: 0;
  }
}

.logo-header {
  text-align: left;
  padding: 0 0 0 1rem;
}

.logo-header h1 {
  text-transform: uppercase;
  font-weight: 800;
  color: #000000;
}

a {
  color: #fa5a00;
  font-weight: bold;
  padding-left: 0.5rem;
}
