@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.main-orders-container {
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    row-gap: 2rem;
    padding: 3rem;
}

.main-orders-container h1 {
    font-size: 1rem;
    font-weight: 600;
    color: #32324D;
}

.orders-container {
    border: 1px solid #32324d4f;
    border-radius: 15px;
    background-color: #ffffff;
}

.side-bar {
    width: 20%;
    padding: 3rem 1rem;
    border-right: 1px solid #32324d4f;
}

.side-bar ul {
    flex-direction: column;
    row-gap: 1rem;
}

.side-bar ul li {
    font-size: .8rem;
    color: #32324D;
    padding: .7rem 1rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.side-bar li.active {
    color: #ffffff;
    background-color: #FA5A00;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.orders {
    flex-direction: column;
    row-gap: 5rem;
    padding: 3rem;
}

.ongoing-orders,
.order-history {
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
    border: 1px solid #32324d4f;
    border-radius: 15px;
}

.head-ord {
    width: 100%;
    font-size: .9rem;
    font-weight: 600;
    color: #32324D;
    padding: 0;
    margin: 0;
}

.ongoing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.order-container {
    flex-direction: column;
    row-gap: .2rem;
    padding: .5rem;
    border-radius: 5px;
    box-shadow:  2px 2px 10px #dddcdc;
}

.order {
    align-items: center;
    column-gap: .5rem;
}

.order-img {
    width: 4rem;
}

.order-img img {
    display: block;
}

.order-texts {
    flex-direction: column;
    row-gap: .3rem;
}

.order-texts h5 {
    font-size: .9rem;
}

.order-texts p {
    font-size: .8rem;
    font-weight: 600;
}

.order-btn {
    display: flex;
    justify-content: flex-end;
}

.order-btn button {
    outline: none;
    border: none;
    background-color: #FA5A00;
    color: #ffffff;
    font-size: .7rem;
    width: fit-content;
    padding: .3rem 1.3rem;
    margin: 0;
    border-radius: 5px;
}

.history {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (max-width: 1000px) {
    .main-orders-container {
        padding: 3rem 2rem;
    }
    .side-bar {
        width: 30%;
    }

    .orders {
        padding: 3rem 2rem;
        width: 100%;
    }

    .ongoing,
    .history {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .main-orders-container {
        padding: 3rem 1rem;
    }

    .side-bar li {
        padding: .4rem .8rem;

    }

    .orders {
        padding: 3rem 1rem;
        width: 100%;
    }

    .ongoing-orders,
    .order-history {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .side-bar {
        padding: 3rem .5rem;
    }

    .side-bar ul li {
        width: 100%;
        font-size: .7rem;
        padding: .3rem 0;
    }

    .order {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        row-gap: .5rem;
    }

    .orders {
        padding: 2rem 0;
    }

    .ongoing-orders {
        padding: 1rem;
        border: none;
    }

    .order-history {
        padding: 3rem 1rem 1rem 1rem;
        border-top: 1px solid #32324d4f;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-radius: 0;
    }
}